* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: #111;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    line-height: 1;
}
.players {
    margin: 10px;
    border-spacing: 0;
}
.player .name {
    padding-left: 10px;
    padding-right: 20px;
}
.player .color .inner {
    width: 30px;
    height: 30px;
}
.player:hover {
    background-color: #fff1;
}
.player .label {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.2;
}
.js-toggle {
    cursor: pointer;
    user-select: none;
}
.resets {
    padding-left: 10px;
}
.resets a {
    text-decoration: none;
    color: #fff;
    opacity: 0.2;
}

/* active status text */
.player[data-status="imposter"] [data-set-status="imposter"],
.player[data-status="sus"] [data-set-status="sus"],
.player[data-status="neutral"] [data-set-status="neutral"],
.player[data-status="trusty"] [data-set-status="trusty"],
.player[data-status="crewmate"] [data-set-status="crewmate"],
.player[data-status="unused"] [data-set-status="unused"],
.player.dead [data-set-dead="dead"] {
    opacity: 1;
}

/* active status text */
.player[data-status="imposter"] .name {
    color: #C61111;
}

/* trusty */
.player[data-status="trusty"] .name {
    opacity: 0.5;
}

/* crewmate */
.player[data-status="crewmate"] .name {
    opacity: 0.25;
}

/* unused */
.player[data-status="unused"] .name {
    opacity: 0.1;
}